<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee   http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>LoginValidator</servlet-name>
        <servlet-class>com.ipt.LoginValidator</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TestSer</servlet-name>
        <servlet-class>com.ipt.TestSer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>topicSubmit</servlet-name>
        <servlet-class>com.ipt.topicSubmit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Department</servlet-name>
        <servlet-class>org.ipt.poly.Department</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TeacherServlet</servlet-name>
        <servlet-class>org.gec.servlet.TeacherServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DepartmentServlet</servlet-name>
        <servlet-class>org.gec.servlet.DepartmentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>org.gec.servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClassAllocation</servlet-name>
        <servlet-class>org.gec.servlet.ClassAllocation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadServlet</servlet-name>
        <servlet-class>org.gec.servlet.UploadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubjectAdd</servlet-name>
        <servlet-class>org.gec.servlet.SubjectAdd</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubjectAllot</servlet-name>
        <servlet-class>org.gec.servlet.SubjectAllot</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TopicSubmit</servlet-name>
        <servlet-class>org.gec.servlet.TopicSubmit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AssignmentSelection</servlet-name>
        <servlet-class>org.gec.servlet.AssignmentSelection</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Admission</servlet-name>
        <servlet-class>org.gec.servlet.Admission</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TimeTableServlet</servlet-name>
        <servlet-class>org.gec.servlet.TimeTableServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AssignmentMark</servlet-name>
        <servlet-class>org.gec.servlet.AssignmentMark</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Assig</servlet-name>
        <servlet-class>org.gec.servlet.Assig</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Attendence</servlet-name>
        <servlet-class>org.gec.servlet.Attendence</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteAssignment</servlet-name>
        <servlet-class>org.gec.servlet.DeleteAssignment</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TestSer</servlet-name>
        <url-pattern>/TestSer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>topicSubmit</servlet-name>
        <url-pattern>/topicSubmit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Department</servlet-name>
        <url-pattern>/Department</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TeacherServlet</servlet-name>
        <url-pattern>/TeacherServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DepartmentServlet</servlet-name>
        <url-pattern>/DepartmentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClassAllocation</servlet-name>
        <url-pattern>/ClassAllocation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadServlet</servlet-name>
        <url-pattern>/UploadServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubjectAdd</servlet-name>
        <url-pattern>/SubjectAdd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubjectAllot</servlet-name>
        <url-pattern>/SubjectAllot</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TopicSubmit</servlet-name>
        <url-pattern>/TopicSubmit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AssignmentSelection</servlet-name>
        <url-pattern>/AssignmentSelection</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Admission</servlet-name>
        <url-pattern>/Admission</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TimeTableServlet</servlet-name>
        <url-pattern>/TimeTableServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AssignmentMark</servlet-name>
        <url-pattern>/AssignmentMark</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Assig</servlet-name>
        <url-pattern>/Assig</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Attendence</servlet-name>
        <url-pattern>/Attendence</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteAssignment</servlet-name>
        <url-pattern>/DeleteAssignment</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
    <context-param>
        <description>Location to store uploaded file</description>
        <param-name>file-upload</param-name>
        <param-value>
        /home/musthafa/Documents/tmp_DOCS/
    </param-value>
    </context-param>
</web-app>
